<!DOCTYPE html>
<html>
<head>
<title>Error</title>
<link rel="icon" type="image/png" href="images/logo.png"/>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <%- include ('global/header', {title: "Venus"}); %>
  <%- include ('global/navbar', {title: data}); %>
<h1 id = "error"> <%=errorCode%> Error</h1>
<p> The resource you requested has not been found.</p>
<script src="/js/scripts.js"></script>
</body>
</html>
