<header>
  <div  style="background:transparent !important" class="jumbotron">
  <h1>Life on Venus?</h1>
  <h3>Another look at the Hottest Planet in the Solar System</h3>
<%if(typeof posts !== 'undefined'){%>
  <h1> <%= posts.title.split('_').join(' ') %> </h1>
  <%}%>

  </div>
</header>
